click==7.1.2
Flask==1.1.2
itsdangerous==2.11.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.1.1
requests==2.24.0

PyAudio==0.2.11
google-api-python-client==1.12.8
PocketSphinx==0.1.15
SpeechRecognition==3.8.1